html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}
a:hover{
    text-decoration: none;
}
.bg-pink{
    background-color: #FEEAE9;
}
.text-pink{
    color: #ff267b;
}

.btn-pink{
    background-image: linear-gradient(to bottom, #FF589B, #FF136F);
    color: #ffff;
}
/* ==== Header ===== */
.search-bar{
    position: relative;
    width: 65%;
}
.search-bar .form-control{
    background-color: #F8F8F8;
    border-radius: 25px;
    border-color: transparent;
    padding-left: 25px;
}
.search-bar button{
    position: absolute;
    top: 0;
    right: 20px;
}
.search-bar .btn:focus{
    outline: none;
    box-shadow: none;
    color: #ff2a7e !important;
}
/* ==== Slider ==== */
.carousel{
    border-radius: 15px;
}
.carousel-indicators li{
    height: 8px;
    width: 16px;
    border-radius: 5px;
    background-clip:unset;
    border: 0;
    opacity: 1;
}
.carousel-indicators .active{
    background-color: #ff267b;
    width: 35px;
}

/* ==== Category ==== */
#category .cat{
    color: #ffffff;
    border-radius: 12px;
}
#category  .cat:hover h1{
    transform: translateX(20px);
    transition: .3s ease-in-out;
}

#category .cat img{
    height: 110px;
}
#category #cat-1{
    background-image: linear-gradient(45deg , #FF9C35 , #FFD019);
}
#category #cat-2{
    background-image: linear-gradient(to bottom , #FF589B , #FF136F);
}
#category #cat-3{
    background-image: linear-gradient(45deg , #4289FF , #3F07F8);
}


/* ==== Products ==== */
#products .card{
    border: 0;
    box-shadow: 0 0 30px #0000000d;
    border-radius: 12px;
    padding-bottom: 15px;
    transition: .3s ease-in-out;
}
#products .card:hover{
    box-shadow: 0 0 40px #524f4f3b;
}
.products-cat-title a{
    color: #FF9D00;
}
/* ==== subscription===== */
.subscription .bg-pink{
    border-radius: 10px;
}
.subscription .form-control{
    border:0;
}